.container{
    padding: 1em 0;
}
.ui.form input[type='text']{
    min-width: 300px;
}
.ui.input{
    width: 100%;
}
.ui.search > .results .result .content{
    padding: 0;
}
.ui.search > .results .result .title {
    border: none;
}
.ui.form input.rounded, .ui.form input.rounded:focus {
    border-radius: 500rem;
}
.ui.custom.popup{
    width: 600px;
    height: 400px;
}
#payee-add-btn{
    font-size: 2em;
    vertical-align: bottom;
    color:#555;
    cursor: pointer;
}